<p id="notice"><%= notice %></p>
<ul>
<h3>All Posts</h3>
</ul>



    <% @posts.each do |post| %>
      <ul>
        <li><%= image_tag post.image.url(:medium) %></li>
        <li><strong>Title</strong></li>
        <li><%= post.title %></li>
        <li><strong>Content</strong></li>
        <li><%= post.content %></li>
        <li><%= post.created_at.strftime("%B, %d, %Y") %></li>
      </ul>
      <ul>
      <div id="postenddiv">
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </ul>
    <% end %>
    <%= will_paginate @posts %>
